{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'portfolio_style.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>My Page</title>
</head>
<body>
<div class="header">
	<div id="header-name">Mohibullah Naseri</div>
	<div id="header-logo">Software Engineer</div>
	<div id="header-header">Native & Web App DEV</div>
</div>
<div id="content">
	<div class="content-box">
		<div class="content-header">Education</div>
		<div class="content-content">
			<h4>High school Diploma</h4>
			<h5 style="display: inline;">School Name: </h5><h6 style="display: inline;">Hazrati Ibrahim Khalilullah</h6><br>
			<h5 style="display: inline;">Graduation Year: </h5><h6 style="display: inline;">2018</h6><br>
			<h5 style="display: inline;">Graduation City/Country: </h5><h6 style="display: inline;">Kabul Afghanistan</h6><br>
			<h4>Bachelor Degree</h4>
			<h5 style="display: inline;">University Name: </h5><h6 style="display: inline;">MRIIRS</h6><br>
			<h5 style="display: inline;">Graduation Year: </h5><h6 style="display: inline;">N/A</h6><br>
			<h5 style="display: inline;">Graduation City/Country: </h5><h6 style="display: inline;">Delhi India</h6><br>
		</div>
	</div>
	<div class="content-box">
		<div class="content-header">Skills</div>
		<div class="content-content">
			<h4>Computer Languages</h4>
			<h6 style="display: inline;">Python</h6>
			<h6 style="display: inline;">Java</h6>
			<h6 style="display: inline;">C++</h6>
			<h6 style="display: inline;">C</h6><br>
			<h6 style="display: inline;">HTML</h6>
			<h6 style="display: inline;">CSS</h6>
			<h6 style="display: inline;">JavaScript</h6><br>
			<h4>Frame Works</h4>
			<h6 style="display: inline;">Django</h6>
			<h6 style="display: inline;">Kivy</h6>
			<h6 style="display: inline;">Flutter</h6>
			<h6 style="display: inline;">React</h6><br>
			<h4>Other</h4>
			<h6 style="display: inline;">DSA</h6><br>
			<h6 style="display: inline;">Database</h6><br>
			<h6 style="display: inline;">Networking</h6><br>
			<h6 style="display: inline;">Inter Personal Skills</h6><br>
		</div>
	</div>
	<div class="content-box">
		<div class="content-header">Certificates/Awards</div>
		<div class="content-content">
			<h4>Certified In</h4>
			<h5 style="display: inline;">Web DEV</h5><br>
			<h5 style="display: inline;">From: </h5><h6 style="display: inline;">John Hopkins University</h6><br><br>
			<h5 style="display: inline;">AI</h5><br>
			<h5 style="display: inline;">From: </h5><h6 style="display: inline;">IBM Learning Patterns</h6><br><br>
			<h5 style="display: inline;">Machine Learning</h5><br>
			<h5 style="display: inline;">From: </h5><h6 style="display: inline;">InternShala Trainings</h6><br>
		</div>
	</div>
	<div class="content-box">
		<div class="content-header">Projects</div>
		<div class="content-content">
			<h4>App Development</h4>
			<h5 style="display: inline;">Clients: </h5><h6 style="display: inline;">Public</h6><br>
			<h6 style="display: inline;">Weather app which shows climate condition of the globe and temperature convertor</h6><br>
			<h4>App Development</h4>
			<h5 style="display: inline;">Clients: </h5><h6 style="display: inline;">Public</h6><br>
			<h6 style="display: inline;">Calculator which does basic arithmatic operations</h6><br>
			<h4>Web Development</h4>
			<h5 style="display: inline;">Clients: </h5><h6 style="display: inline;">Public</h6><br>
			<h6 style="display: inline;">A simple web page of my portfolio and other staffs</h6><br>
		</div>
	</div>
</div>
<footer>
    <div class="footer">
        <a href="https://www.linkedin.com/company/linkedin/" class="fa fa-linkedin icon"></a>
        <a href="accounts/Register" class="fa fa-twitter icon"></a>
        <a href="https://www.facebook.com/profile.php?id=100072454957643&sk=about" class="fa fa-facebook icon"></a>
        <a href="https://www.instagram.com/mohibullah.naseri2121/?hl=en" class="fa fa-instagram icon"></a>
    </div>
</footer>

<!--<script>
var w = window.innerWidth;
var h = window.innerHeight;

var x = document.getElementById("demo");
x.innerHTML = "Browser width: " + w + ", height: " + h + ".";
</script>-->
</body>
</html>
